.new-login-container{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
   
 }

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;

}

.validate-fields{
    display: flex;
    flex-direction: column;
    gap:5px;

}

.image-conatiner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.setpass-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%
}
.validate-container{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.input-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4px;
    width:100%;

}
.inputs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:10px;
}

.save-continer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.acess-password-input{
    border:none;
    border-bottom: 0.1px solid white;
    outline: none;
    width:80%;
    padding: 10px;
    text-align: center;
}
.acess-password-input:hover{
    border-bottom: 0.1px solid #216c98;
    border-radius: 0px;
    
}
.inputField-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.eye{
    width: 10%;
}
.login-heading{
    font-weight: 500;
    font-size: 40px;
}


  .validates{
    color: black;
    font-size:13px;
    letter-spacing: 0.5px;
    display: flex;
        align-items: center;
    gap:4px;
  }
  
  .notValidates{
    color: red;
    font-size:13px;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    gap:4px;
  }
  
  .password-redLabels{
    font-size: 12px;
    position: relative;
    color: red;
  
  }

  .password-labels{
  font-size: 13px;
  position: relative;
    color: #0f6b93;
  }
  .save-button{
    border:0.2px solid #0f6b93;
    background-color: white;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 12px;
    font-weight: 600;
    color: #0f6b93;
  }

  .save-button:hover{
    background-color: #0f6b93;
    color: white;
    font-weight: 600;
  }

  .acess-password-input::placeholder{
    font-style: italic;
    opacity: 30px;
    text-align: center;
}
 

.main-content{
    width:65%;
}

.acess-inputField-div1,.acess-inputField-div2{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}



.eye1 {
    visibility: hidden;
  }
  
  .acess-inputField-div1:hover .eye1 {
    visibility: visible;
  
  }

.eye2 {
    visibility: hidden;
  }
  
  .acess-inputField-div2:hover .eye2 {
    visibility: visible;
  
  }

  .acess-heading{
    font-size: 36px;
  }