@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.containerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.forgot-password-container {
  display: flex;
  align-items: center;
  max-width: 900px;
  background-color: #fff;
  gap: 7%;
  height: 100vh;
  width: 100%;
  /* border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

img#ForgoticonlogFor {
  max-width: 450px;
  width: 100%;
}

.leftforgot {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.EntireForgotright {
  width: 50%;
  display: flex;
  flex-direction: column;
  line-height: 4;
}
button.continue {
  position: relative;
  height: 50px;
  border: 1px solid #ccc;
  color: white;
  background-image: linear-gradient(to right, #715cf3, #5c99f3);
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  font-size: 16px;
  width: 182px;
  font-family: "Open Sans";
}

p.ptag1 {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 23px;
}

/* 
.cancelforgot {
  position: relative;
  height: 40px;
  width: 100%;
  border: 1px solid #715cf3;
  border-radius: 4px;
  font-size: 16px;
  background: none;
  font-family: "Open Sans";
  top: -15px;
} */
.cancelforgotButton {
  position: relative;
  height: 40px;
  width: 100%;
  border: 1px solid #715cf3;
  border-radius: 4px;
  font-size: 16px;
  background: none;
  font-family: "Open Sans";
  top: -15px;
}
.cancelforgotButton:active {
  transform: scale(0.9);
}
.forgotpass::placeholder {
  font-size: 13px;
  color: #ccc;
}
.butnsfoca {
  line-height: normal;
}
.continuebutton {
  position: relative;
  height: 40px;
  line-height: 0;
  width: 100%;
  cursor: pointer;
  padding: 12px 24px 12px 24px;
  border: 1px solid #ccc;
  color: white;
  background-image: linear-gradient(to right, #715cf3, #5c99f3);
  border-radius: 4px;
  font-size: 16px;
  font-family: "Open Sans";
}
.continuebutton:active {
  transform: scale(0.9);
  color: white;
  background-image: linear-gradient(to right, #715cf3, #5c99f3);
}
.continuebuttondiv {
  line-height: 4;
}
.split-text {
  display: block;
}
p.stilllogin {
  line-height: 1.5;
  font-family: "Open Sans";
  font-size: 15px;
  width: 100%;
}
input.forgotpass {
  position: relative;
  height: 40px;
  width: 100%;
  padding: 0px 0px 0px 16px;
  border: 1px solid #715cf3;
  border-radius: 4px;
  outline: none;
}

a.support {
  text-decoration: underline;
  color: #715cf3;
  font-weight: 600;
}
.spam {
  color: #715cf3;
  font-family: "Open Sans";
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}
.forgotpassspam {
  color: #444444;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 38px;
  font-weight: bold;
}
.spamp {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 3;
}
.common-line-height .deal {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Open Sans";
}
.ptags .ptag1::before {
  content: "\2022";
  margin-right: 5px;
}
.h5headingForgot {
  font-size: 36px !important;
  font-weight: 700;
  color: #444444;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  padding: 7px 20px 0px 0px;
  font-family: "Ubuntu";
}
.ptag1 {
  line-height: 28px;
}
.deal {
  font-family: "Open Sans";
  font-size: 15px;
  color: #333333;
  font-weight: 700;
  margin-bottom: 3px;
  line-height: 25px;
}

.headheight {
  line-height: 1.4;
}
.ptags {
  line-height: 1.4;
  margin-top: 2%;
  padding-left: 20px;
}

@media only screen and (min-width: 276px) and (max-width: 767px) {
  .leftforgot {
    display: none;
  }
  .EntireForgotright {
    width: 95%;
    margin-left: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .forgot-password-container {
    gap: 3%;
    width: 95%;
  }
}
