.otpDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  gap: 15px;
}

.verificationclass {
  font-weight: bold;
  font-size: 22px;
}

.messageotp {
  color: grey;
  font-size: 14px;
}

.verifiybutton {
  position: relative;
  height: 36px;
  border: 1px solid #715cf3;
  border-radius: 8px;
  font-size: 16px;
  background: none;
  font-family: "Open Sans";
  width: 20%;
  color: white;
  background-color: #715cf3;
}

.otpinput {
  position: relative;
  height: 36px;
  width: 20%;
  padding: 0px 16px 0px 16px;
  border: 1px solid #715cf3;
  border-radius: 8px;
  outline: none;
  margin-top: 4%;
}

.emaiverify {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  gap: 15px;
}

@media only screen and (min-width:360px) and (max-width: 767px) {
  .otpinput {
    width: 28%;
  }
}