#complexPassword {
    display: flex;
    gap: 9px;
}

.registerPassword,
.cpassReg {
    width: 100%;
    height: 35px;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    border: 0.1px solid #ccc;
    outline-color: #715CF3;
    padding: 5px;
    /* margin-left: 16px; */
}

#mainpasswordlabel,
#confirmPasswordLabel {
    position: absolute;
    top: 32px;
    left: 6px;
    color: #919191;
    opacity: 0.7;
    font-size: 13px;
    transition: transform 0.3s ease-out, font-size 0.3s ease-out;
    cursor: auto;
    /* bottom: 60%; */
}

.focused #mainpasswordlabel,
.focused #confirmPasswordLabel {
    transform: translateY(-20px);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #2f2e2e;
    opacity: 0.9;
    top: 1.3rem;
    left: 0rem;
}

.cpassReg:focus ~ #confirmPasswordLabel,
.cpassReg:not(:placeholder-shown) ~ #confirmPasswordLabel,
.registerPassword:focus ~ #mainpasswordlabel,
.registerPassword:not(:placeholder-shown) ~ #mainpasswordlabel {
    transform: translateY(-20px);
    font-size: 12px;
}

#mainpasswordDiv,
#confirmPassworddiv {
    width: 50%;
    margin-top: 0px;
    margin-bottom: 4px;
    margin-right: -5px;
    padding-top: 3px;
    position: relative;
}



#notMatch {
    color: #c23934;
    font-size: 12px;
    padding-left: 3px;
    font-weight: 400;
    max-width: 300px;
    display: inline-block;
    padding-top: 2px;

}

#sampleone {
    font-size: 13px;
    background-color: transparent;
    border: 1.5px solid #c23934;
    color: #c23934;
    padding: 2px;
    border-radius: 50%;
    float: left;
    position: relative;
    top: 1px;
    margin-right: 3px;
}
.pass-container{
    position: relative;
}

.eye-icon_password {
    cursor: pointer;
    position: absolute;
    transform: translateY(49%);
    right: 4%;
}

#cpassReg::placeholder {
    color: #919191;
    opacity: 0.7;
}
.validateField{
    width:100%;
}
.passwordError{
    position: absolute;
    z-index: 2;
    background-color: white;
    width:90%;
    border:0.1px solid #ccc;
    box-shadow: #919191;
    text-decoration: none;
    list-style: none;
    border-radius: 3px;
}

.listcontent{
    list-style: none;
    text-decoration: none;

}

.validatelistcontent{
    color:#2f2e2e;
    font-size: 11px;
    padding: 3px 10px;
    display: flex;
    gap:10px;
}

.notValidateListcontent{
  color: #c23934;
  font-size: 11px;
  padding: 3px 10px;
 display: flex;
 gap:10px;

}
.trueicon {
    color: rgb(74, 146, 59) ;
}  
 /* @media only screen and (min-width: 820px) and (max-width: 1180px) and (orientation: portrait){
    .eye-icon_password {
        left: 77%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .eye-icon_password {
        left: 145px;
    }

}
@media only screen and (min-width: 820px) and (max-width: 1180px) and (orientation: landscape) {
    .eye-icon_password {
        left: 145px;
    }
} */
/* @media only screen and (min-width: 320px) and (max-width: 767px) {
    .eye-icon_password {
        left: 75%;
        position: absolute;
    }
} */
.confirmpassword::placeholder,#password::placeholder{
    color: #ccc;
    

}
@media only screen and (min-width: 540px) and (max-width: 767px) {
    .eye-icon_password {
        left: 82%;
        position: absolute;
    }
}

