@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");
.reset {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexreset {
  display: flex;
  align-items: center;
  gap: 3%;
  height: 95vh;
}
.resetright {
  flex: 1;
}
input#newPassword,
#confirmPassword {
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline-color: #715cf3;
  padding: 6px;
}
#newPassword::placeholder,
#confirmPassword::placeholder {
  font-size: 13px;
  padding: 6px;
  font-style: italic;
  color: #ccc;
}
.hedingreset {
  font-size: 35px !important;
  color: #444444;
  font: revert-layer;
  line-height: 2;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Ubuntu";
}
label.oldonemsg {
  text-wrap: nowrap;
  font-size: 16px;
  font-family: "Open Sans";
}
.form-groupnew,
.form-groupconfirm {
  line-height: 1.5;
  margin-bottom: 15px;
}
.labeloldmsgbot {
  margin-bottom: 12px;
}

label.confirmpass {
  font-size: 14px;
  font-family: "Open Sans";
  color: #444444;
}
.continuereset {
  position: relative;
  height: 40px;
  padding: 6px;
  width: 100%;
  border: 1px solid #ccc;
  color: white;
  background-image: linear-gradient(to right, #715cf3, #5c99f3);
  border-radius: 4px;
  font-size: 17px;
  font-family: "Open Sans";
}
.canncelclick {
  position: relative;
  height: 36px;
  width: 100%;
  border: 1px solid #715cf3;
  border-radius: 4px;
  font-size: 17px;
  background: none;
  font-family: "Open Sans";
}
.resetrightcontent {
  line-height: 1.5;
}
.savecancel {
  line-height: 3;
}
.error-messagereset {
  position: relative;
  top: 3px;
  color: red;
  display: flex;
  align-items: center;
  font-size: 8px;
}
.error-messagereset input {
  border: 1px solid red;
}
.initial-border {
  border: 1px solid #715cf3;
}

label.pass {
  font-size: 15px;
  margin-left: 6px;
}
#password_eyeicon {
  position: relative;
  font-size: 18px;
  float: right;
  top: -28px;
  right: 12px;
  color: #a5a1a1;
}

@media only screen and (min-width: 276px) and (max-width: 767px) {
  .leftforgot {
    display: none;
  }
  .hedingreset {
    font-size: 32px !important;
  }
  .resetright {
    margin: 4%;
  }
  label.oldonemsg {
    text-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .flexreset {
    gap: 2%;
  }
  .resetright {
    margin: 1%;
  }
  label.oldonemsg {
    text-wrap: wrap;
  }
}
